.sub-container
  %header.sub-header
    %a.sub-header__image
      = image_tag "logo.svg"
    .sub-header__image.progress
      = image_tag "progress_bar4.png"

.main_wrapper
  %main.main-block
    %section.main-block__container
      %h2.main-block__head.registration 支払い方法
      %form.main-block__inner.registration-form
        .main-block__content
          .card
            %form.card__form{:action => "/pay", :method => "POST"}
            %span.charge-errors
            .card__form__content
              .card__form__group
                .card__form__group__title
                  %label カード番号
                  %span.form-require 必須
                %input.number{maxlength: "16", name: "number", placeholder: "半角数字のみ", type: "text", class: "card__form__group__box"}/
                %ul.card__form__group__images
                  %li 
                  = image_tag "visa.svg",class: "card__img"
                  %li 
                  = image_tag "master-card.svg",class: "card__img"
                  %li 
                  = image_tag "saison-card.svg",class: "card__img"
                  %li 
                  = image_tag "jcb.svg",class: "card__img"
                  %li 
                  = image_tag "american_express.svg",class: "card__img"
                  %li 
                  = image_tag "dinersclub.svg",class: "card__img"
                  %li 
                  = image_tag "discover.svg",class: "card__img"
              .card__form__group
                .card__form__group__title
                  %label 有効期限
                  %span.form-require 必須
                .card__form__group__date
                  .card__form__group__date__sub
                    %label
                      = fa_icon 'angle-down', class:"card-icon"
                    .select
                      %select.exp_month{id: "exp_month", class: "card__form__group__box card__form__group__box--number"}
                        %option{value: 1}01
                        %option{value: 2}02
                        %option{value: 3}03
                        %option{value: 4}04
                        %option{value: 5}05
                        %option{value: 6}06
                        %option{value: 7}07
                        %option{value: 8}08
                        %option{value: 9}09
                        %option{value: 10}10
                        %option{value: 11}11
                        %option{value: 12}12
                      %span 月
                  .card__form__group__date__sub
                    %label
                      = fa_icon 'angle-down', class:"card-icon"
                    .select
                      %select.exp_month{id: "exp_year", class: "card__form__group__box card__form__group__box--number"}
                        %option{value: 2019}19
                        %option{value: 2020}20
                        %option{value: 2021}21
                        %option{value: 2022}22
                        %option{value: 2023}23
                        %option{value: 2024}24
                        %option{value: 2025}25
                        %option{value: 2026}26
                        %option{value: 2027}27
                        %option{value: 2028}28
                        %option{value: 2029}29
                      %span 年
              .card__form__group
                .card__form__group__title
                  %label セキュリティコード
                  %span.form-require 必須
                %input.cvc{:maxlength => "4", :name => "cvc", :placeholder => "カード背面4桁もしくは3桁の番号", :type => "text", class:"card__form__group__box"}/
                .uinfo_chapter__right.u_text
                  %p
                    = link_to '' do
                      = fa_icon 'question-circle', class: "uinfo_l_icon"
                      カード裏面の番号とは？
              -# =f.submit "追加する", class: "card__form__submit"
              %button{type: "submit", class:"card__form__submit"} 次へ進む
.m_footer
  =render 'common/sub_footer'