.sub-container.view-height
  %header.progress-header
    = link_to root_path, class:"sub-header__image" do
      = image_tag"logo.svg"
    .progress-header__image.progress
      = image_tag "progress_bar5.png"

  .main_wrapper
    %main.main-block
      %section.main-block__container
        %h2.main-block__head.registration 会員登録完了
        %form.main-block__inner.registration-form
          .main-block__content
            .form-group
            %p.number_text ありがとうございます。
            %p.number_text 会員登録が完了しました。
            .form-group
              = link_to root_path, class:"profile_chapter__btn length_btn" do
                メルカリをはじめる
        .done_banner
          = image_tag "done-banner.jpg", class: "done_banner"

  .m_footer
    =render 'common/sub_footer'