.user-container
  = render partial: 'common/main-header'
  .bread
    = render 'common/bread'
  .content.clearfix
    .card
      %h2.card__header 支払い方法
      .card__info
        .card__info__title
          %h3 クレジットカード一覧
        - if true #current_user.card.present?
          %ul.card__info__index
            %li
              .a-card
                .a-card__image
                  = image_tag "credit_card/visa.svg",class: "a-card__img"
                .a-card__num
                  = "************1234"
                .a-card__exp
                  = "10 / 23"
                %button{type: "submit", class:"a-card__remove"} 削除する
        - else 
          .card__add
            .card__add__btn
              %a
                = fa_icon 'credit-card', class: "card__add__btn__icon"
                クレジットカードを追加する
        .card__how
          %a 支払い方法について＞
    .side 
      = render partial: "mycard_side_bar"
    .clearfix::after
  .banner
  = render partial: 'common/top-footer'
= render partial: 'common/sell_btn'