.sub-container
  %header.progress-header
    = link_to root_path, class:"sub-header__image" do
      = image_tag"logo.svg"
    .progress-header__image.progress
      = image_tag "progress_bar2.png"
    
  .main_wrapper  
    %main.main-block
      %section.main-block__container
        %h2.main-block__head.registration 電話番号の確認
        = form_for(@user, method: "post", url: user_registration_path, class: "main-block__inner registration-form") do |f|
          .main-block__content
            = f.hidden_field :nickname, value: params[:user][:nickname]
            = f.hidden_field :email, value: params[:user][:email]
            = f.hidden_field :password, value:  params[:user][:password]
            = f.hidden_field :family_name, value: params[:user][:family_name]
            = f.hidden_field :first_name, value: params[:user][:first_name]
            = f.hidden_field :family_name_kana, value: params[:user][:family_name_kana]
            = f.hidden_field :first_name_kana, value: params[:user][:first_name_kana]
            = f.hidden_field :birthday, value: params[:user][:birthday]
            .form-group
              = f.label :phone, "携帯電話の番号",class: "main-block__label"
              = f.text_field :phone, placeholder: "携帯電話の番号を入力", class:"input_default"
            %p.number_text.number_left 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            .form-grou
              =f.submit "SMSを送信する", class: "profile_chapter__btn"
              %p.number_text.number_left
                ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .form-group.uinfo_chapter__right
              %p.number_text
                = link_to '' do
                  電話番号の確認が必要な理由
                  = fa_icon 'angle-right', class: "uinfo_chapter__icon"
  .m_footer
    =render 'common/sub_footer'

