.sub-container 

  =render 'common/sub_header'

  %main.login-main
    .login-panel
      .login-panel__no-account
        %p アカウントをお持ちでない方はこちら
        = link_to new_user_registration_path do
          新規会員登録
      .login-form-inner
        .main-block__buttons.facebook
          %i.fa.fa-facebook-square.sns__icon
          %p Facebookでログイン
        .main-block__buttons.google
          %i.fa.fa-google.sns__icon
          %p Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-inner
          .form-group_l
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class: "login-form-inner__input"
            = f.password_field :password, autocomplete: "current-password", placeholder:"パスワード", class: "login-form-inner__input"
          .form-group
            %figure
              = image_tag 'recaptcha.png', class: "recaptcha-center"    
          .form-group
            = hidden_field_tag :authenticity_token, form_authenticity_token
            = f.submit "ログイン", class: "profile_chapter__btn"
            .form-group.uinfo_chapter__right
              %p.number_text.number_left
                = link_to '' do
                  パスワードをお忘れの方
.lo_footer
  =render 'common/sub_footer'