%section.item
  %h1.item__name #{@product.name}
  .item__body
    .item__body__photo
      = image_tag @product.images[0][:url], class: "item__body__photo--image"
    %table.item__body__detail
      %tbody
        %tr.tr_data
          %th.th-left 出品者
          %td.td-right #{@product.user.nickname}
        %tr.tr_data
          %th.th-left カテゴリー
          %td.td-right レディース
        %tr.tr_data
          %th.th-left ブランド
          %td.td-right
        %tr.tr_data
          %th.th-left 商品のサイズ
          %td.td-right FREE SIZE
        %tr.tr_data
          %th.th-left 商品の状態
          %td.td-right #{@product.condition.name}
        %tr.tr_data
          %th.th-left 配送料の負担
          %td.td-right #{@product.delivery_fee.name}
        %tr.tr_data
          %th.th-left 配送の方法
          %td.td-right #{@product.shipping_method.name}
        %tr.tr_data
          %th.th-left 配送元地域
          %td.td-right #{@product.prefecture.name}
        %tr.tr_data
          %th.th-left 発送日の目安
          %td.td-right #{@product.shipping_speed.name}
  .item__price-box
    %span.item__price-box__price ￥#{@product.price.to_s(:delimited)}
    %span.item__price-box__tax (税込)
    %span.item__price-box__delivery_fee #{@product.delivery_fee.short_name}
  .btn-buy
    %ul.btn-buy__text 購入画面に進む
  .item__description-box
    %p.description
      #{@product.detail}
  .btn-footer
    .btn-footer__left
      .btn-footer__left__like
        %span いいね!
      .btn-footer__left__report
        %span 不適切な商品の報告
    .btn-footer__right
      %p
        %i.fa.fa-lock
        %span あんしん・あんぜんへの取り組み