.show-container
  = render partial: 'common/main-header'
  = render partial: 'common/bread'

  = render partial: 'item_detail'
  .comment_chapter
    %form.comment-form
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = text_area :page, :comtent, class: 'comment_chapter__set-content'
      %button.comment_chapter__btn
        コメントする
  = render partial: 'products/item-change-box'
  %ul.around-item
    %li
      = link_to "#" do
        %i
    %li
      =link_to "#" do
        %i
  .sns-box
    %ul.sns-btn
      %li
        %i.fa.fa-facebook-square
      %li
        %i.fa.fa-twitter-square
      %li
        %i.fa.fa-pinterest-square

  .pickup-item
    %h3.pickup-item__heading ピックアップカテゴリー
    - 3.times do
      = render partial: 'common/item_box3times'
  .top-banner
    = image_tag "top_page_footer_banner.jpg", class: "topbanner"
  = render partial: 'common/top-footer'
= render partial: 'common/sell_btn'
.modal-container
  #modal-content
    .modal-content__box
      .modal-content__box__text 確認
      %p.modal-text-small
        削除すると二度と復活できません
        %br
        削除する代わりに停止することもできます。
        %br
        %br
        本当に削除しますか？
    .modal-content__box__btn
      .modal-content__box__btn__delete#modal-close
        キャンセル
      .modal-content__box__btn__delete
        = link_to product_path, method: :delete, class: "button-link" do
          削除する