%p.category__text メンズ 新着アイテム
.pickup-item__box
  - Product.include.category(340..470).limited(4).each do |product|
    = render partial: "common/item", locals: { product: product }
.show-items
  = link_to "すべての商品を見る"

%p.category__text レディース 新着アイテム
.pickup-item__box
  - Product.include.category(160..339).limited(4).each do |product|
    = render partial: "common/item", locals: { product: product }
.show-items
  = link_to "すべての商品を見る"

%p.category__text ベビー・キッズ 新着アイテム
.pickup-item__box
  - Product.include.category(471..586).limited(4).each do |product|
    = render partial: "common/item", locals: { product: product }
.show-items
  = link_to "すべての商品を見る"

%p.category__text コスメ・香水・美容 新着アイテム
.pickup-item__box
  - Product.include.category(867..954).limited(4).each do |product|
    = render partial: "common/item", locals: { product: product }
.show-items
  = link_to "すべての商品を見る"