%p.category__text メンズ 新着アイテム
.pickup-item__box
  - @category_men.each do |product|
    = render partial: "common/item", locals: { product: product }
.show-items
  = link_to "すべての商品を見る"

%p.category__text レディース 新着アイテム
.pickup-item__box
  - @category_women.each do |product|
    = render partial: "common/item", locals: { product: product }
.show-items
  = link_to "すべての商品を見る"

%p.category__text ベビー・キッズ 新着アイテム
.pickup-item__box
  - @category_baby.each do |product|
    = render partial: "common/item", locals: { product: product }
.show-items
  = link_to "すべての商品を見る"

%p.category__text コスメ・香水・美容 新着アイテム
.pickup-item__box
  - @category_cosme.each do |product|
    = render partial: "common/item", locals: { product: product }
.show-items
  = link_to "すべての商品を見る"