.header
  .header-inner
    .header-top
      .header-top__logo
        %h1
          = link_to "/",class:"header-top__logo--href" do
            %img.header-top__logo--img{src:"//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?270352715",alt:"mercari",width:"134"}
      .form.header-top__search
        %input.header-top__search--input{placeholder:"何かお探しですか？", type: "search"}
        %button.header-top__search--btn{type:"submit"}
          = fa_icon "search",class: "header-top__search--btn-icon fa-lg"
    .header-bottom
      .header-bottom__left
        %ul
          %li.w2
            = link_to "#",class:"w3" do
              %i
              = fa_icon "list-ul"
              %span カテゴリーから探す
          %li.w2
            = link_to "#",class:"w3" do
              %i
              =fa_icon "angle-double-left"
              %span ブランドから探す
      - if user_signed_in?
        .header-bottom__right
          %ul
            %li.header-bottom__right--likelist
              = link_to "#",class:"header-bottom__right--font" do
                %i.fa.fa-heart-o
                %span いいね！一覧
            %li.header-bottom__right--information
              = link_to "#",class:"header-bottom__right--font" do
                %i.fa.fa-bell-o
                %span お知らせ
            %li.header-bottom__right--todolist
              = link_to "#",class:"header-bottom__right--font" do
                %i.fa.fa-check
                %span やることリスト
            %li.header-bottom__right--mypage
              = link_to "/users/#{current_user.id}",class:"header-bottom__right--font" do
                %i.fa.fa-user
                %span マイページ
      - else
        .header-bottom__right
          %ul
            %li.header-bottom__right--signup
              = link_to users_path,class:"header_btn--signup user-btn" do
                新規登録会員
            %li.header-bottom__right--logout
              = link_to new_user_session_path ,class: "header_btn--logout user-btn" do
                ログイン