%footer.top-footer
  .top-footer__container
    .top-footer__contents.first
      %h2.top-footer__item メルカリについて
      %ul.top-footer__item--list
        %li.op
          = link_to '', class: "footer-link" do
            会社概要（運営会社）
        %li.op
          = link_to '', class: "footer-link" do
            採用情報
        %li.op
          = link_to '', class: "footer-link" do
            プレスリリース
        %li.op
          = link_to '', class: "footer-link" do
            公式ブログ
        %li.op
          = link_to '', class: "footer-link" do
            メルカリロゴ利用ガイドライン
        %li.sns__btn
          %i.fa.fa-twitter.sns__btn--twitter
        %li.sns__btn
          %i.fa.fa-facebook-square.sns__btn--facebook
    .top-footer__contents.second
      %h2.top-footer__item ヘルプ＆ガイド
      %ul.top-footer__item--list
        %li.op
          = link_to '', class: "footer-link" do
            メルカリガイド
        %li.op
          = link_to '', class: "footer-link" do
            らくらくメルカリ便
        %li.op
          = link_to '', class: "footer-link" do
            ゆうゆうメルカリ便
        %li.op
          = link_to '', class: "footer-link" do
            大型メルカリ便
        %li.op
          = link_to '', class: "footer-link" do
            車体取引ガイド
        %li.op
          = link_to '', class: "footer-link" do
            メルカリあんしん・あんぜん宣言！
        %li.op
          = link_to '', class: "footer-link" do
            偽ブランド品撲滅への取り組み
        %li.op
          = link_to '', class: "footer-link" do
            メルカリボックス
    .top-footer__contents.third
      %h2.top-footer__item プライバシーと利用規約
      .top-footer__item__inner
        %ul.top-footer__item--list
          %li.op
            = link_to '', class: "footer-link" do
              プライバシーポリシー
          %li.op
            = link_to '', class: "footer-link" do
              メルカリ利用規約
          %li.op
            = link_to '', class: "footer-link" do
              あんしんスマホサポート制度に関する利用特約
          %li.op
            = link_to '', class: "footer-link" do
              コンプライアンスポリシー
      .top-footer__item__inner.fourth
        %ul.top-footer__item--list
          %li.op
            = link_to '', class: "footer-link" do
              個人データの安全管理に係る基本方針
          %li.op
            = link_to '', class: "footer-link" do
              特定商取引に関する表記
          %li.op
            = link_to '', class: "footer-link" do
              資金決済法に基づく表示
          %li.op
            = link_to '', class: "footer-link" do
              法令順守と犯罪抑止のために
          %li.op
            = link_to '', class: "footer-link" do
              返品・返金ポリシー
    .top-footer__contents
      %h2.top-footer__item 国
      %ul.top-footer__item--list
        %li.op
          = link_to '', class: "footer-link" do
            日本
        %li.op
          = link_to '', class: "footer-link" do
            United States
  .top-footer__bottom
    = link_to "#",class: "top-footer__bottom__image" do
      = image_tag "logo-white.svg", size: '124x33'
    %span.top-footer__bottom__copy © 2019 Mercari